
h1 {
    text-align: center;
    color: black;
    font-size: 50px;
    font-family: Helvetica, sans-serif;
  }

p {
    font-family: 'Roboto', sans-serif;
}

.firstimage .btn {
  position: absolute;
  top: 9%;
  left: 13%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: white;
  color: black;
  font-size: 25px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 25px;
}

.firstimage .btn:hover {
  background-color:grey;
}
.row{
    display: flex;
    
    }
    .column{
      flex: 33.33%;
      padding: 5px;
    }
    
    .column {
      position: relative;
      width: 50%;
    }
    
    .column img {
      width: 100%;
      height: auto;
    }

    p {
        text-align: center;
        font-size: 20px;
        word-spacing: 5px;
        padding-left: 300px;
        padding-right: 300px;
      }
      @media (max-width: 768px) {
       
        h1 {
            font-size: 12px;
        }
       
        .firstimage .btn {
        font-size: 6px;
        padding: 6px 12px;
        top: 4%;
        left: 20%;
        
        }

        p {
            font-size: 9px;
            text-align: justify;
            padding-left: 20px;
            padding-right: 20px;
        }

        .flex-container {
          display: block;
        }
      
        .flex-column {
          width: 100%;
          margin-bottom: 2em;
        }

        main {
          width: auto;
          border-radius: 0;
        }
      
        form {
          width: 100%;
        }
      
        label + * {
          flex: 0 0 100%;
          text-align: left;
          padding: 10px;
        }
      
        .button {
          width: 100%;
        }
      
      }